<div id="addTodo">
    <form #heroForm="ngForm">
        <input class="todo-input" placeholder="Ajouter une tâche" name="description" [(ngModel)]="todo.description" />
        <button class="todo-button" (click)="create(todo)">ok</button>
    </form>
</div>


<div id="listTodo" *ngFor="let todo of todoService.todos">
    <div class="todo">
        <input type="checkbox" class="checkbox">
        <span class="todo-id">{{todo.description}}</span>
        <div class="todo-icon"><i class="fas fa-trash" (click)="delete(todo.id_todo)"></i></div>
    </div>
</div>